---
BasedOnStyle: Google
AllowShortIfStatementsOnASingleLine: false
AllowShortLoopsOnASingleLine: false
AllowShortFunctionsOnASingleLine: false
MaxEmptyLinesToKeep: 1
IndentCaseLabels: false
SpacesBeforeTrailingComments: 1
PointerAlignment: Left
DerivePointerAlignment: false
